.center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-button{
    display:flex;
    align-items: center;
}

.pie-chart{
    width: 500px;
    height: auto; 
    padding: 10px;
}

.line-chart{
    width: 800px;
    height: auto;
    padding: 10px;
}

.bar-chart{
    width: 800px;
    height: auto;
    padding: 10px;
}

.scatter-chart{
    width: 800px;
    height: auto;
    padding: 10px;
}

